<nav class="navbar navbar-default new-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#91C64A"><span style="color:#199ED7">Hi</span>-<span style="color:#E93085">Fi</span> </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="http://cufeui.site/">首页</a></li>
            <li><a href="http://cufeui.site/s/#!/" target="_blank">LOFI</a></li>
            <li class="active"><a href="###">HIFI</a></li>
        </ul>
    </div>
</nav>